<div id="<%= dom_id reservation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Check in:</strong>
    <%= reservation.check_in %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Check out:</strong>
    <%= reservation.check_out %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= reservation.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">House:</strong>
    <%= reservation.house_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this reservation", reservation, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this reservation', edit_reservation_path(reservation), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
